services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    environment:
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
      - CLICKHOUSE_PASSWORD=default
    ports:
      - 9000:9000

  postgres:
    image: postgres:17
    environment:
      - POSTGRES_DB=runtime_prod
      - POSTGRES_PASSWORD=runtime
      - POSTGRES_USER=runtime
    ports:
      - 5432:5432

