version: '3.8'

services:
  miren:
    image: oci.miren.cloud/miren:latest
    container_name: miren
    privileged: true
    ports:
      - "8080:8080"
      - "8443:8443/udp"
    volumes:
      - miren-data:/data
      - ${PWD}:/workspace
    working_dir: /workspace
    environment:
      - ETCD_ENDPOINTS=http://etcd:2379
      - CLICKHOUSE_HOST=clickhouse
      - CLICKHOUSE_PORT=9000
    depends_on:
      - etcd
      - clickhouse

  etcd:
    image: oci.miren.cloud/etcd:v1
    container_name: miren-etcd
    ports:
      - "2379:2379"
    command:
      - etcd
      - --listen-client-urls=http://0.0.0.0:2379
      - --advertise-client-urls=http://localhost:2379
      - --initial-advertise-peer-urls=http://localhost:2380
    volumes:
      - etcd-data:/etcd-data

  clickhouse:
    image: oci.miren.cloud/clickhouse:v1
    container_name: miren-clickhouse
    ports:
      - "9000:9000"
      - "8123:8123"
    environment:
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
      - CLICKHOUSE_PASSWORD=default
    volumes:
      - clickhouse-data:/var/lib/clickhouse


volumes:
  miren-data:
  etcd-data:
  clickhouse-data: