services:
  minio:
    image: oci.miren.cloud/minio:v1
    port: 9000
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
      MINIO_UPDATE: "off"
    command:
      - minio
      - server
      - /data
