name: runtime
services:
  runtime:
    image: mirendev/runtime:latest
    ports:
      - 443:443
      - 80:80
      - 8443:8443/udp
    privileged: true
    labels:
      computer.runtime.cluster: "local"
    volumes:
      - containerd:/var/lib/containerd
      - runtime:/var/lib/runtime
    restart: always
    depends_on:
      clickhouse:
        condition: service_healthy

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    environment:
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
      - CLICKHOUSE_PASSWORD=default
    volumes:
      - clickhouse:/var/lib/clickhouse
    restart: always
    healthcheck:
      # Can just use 'db' as the host since we're inside the container network
      test: ["CMD", "clickhouse-client", "--host", "clickhouse", "--query", "SELECT 1"]
      interval: 1s
      timeout: 5s
      retries: 5

volumes:
  clickhouse:
    # ok
  containerd:
    # ok
  runtime:
    # ok
