name: miren
services:
  runtime:
    image: mirendev/runtime:latest
    ports:
      - 443:443
      - 80:80
      - 8443:8443/udp
    privileged: true
    volumes:
      - containerd:/var/lib/containerd
      - miren:/var/lib/miren
    depends_on:
      clickhouse:
        condition: service_healthy
      postgres:
        condition: service_healthy

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    environment:
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
      - CLICKHOUSE_PASSWORD=default
    volumes:
      - clickhouse:/var/lib/clickhouse
    healthcheck:
      # Can just use 'db' as the host since we're inside the container network
      test: ["CMD", "clickhouse-client", "--host", "clickhouse", "--query", "SELECT 1"]
      interval: 1s
      timeout: 5s
      retries: 5

  postgres:
    image: postgres:17
    environment:
      - POSTGRES_DB=miren_prod
      - POSTGRES_PASSWORD=miren
      - POSTGRES_USER=miren
    volumes:
      - postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "PGPASSWORD=miren pg_isready -U miren -d miren_prod"]
      interval: 1s
      timeout: 5s
      retries: 5

volumes:
  clickhouse:
    # ok
  postgres:
    # ok
  containerd:
    # ok
  miren:
    # ok
